html, body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: grey;
}

#container {
    width: 600px;
    margin: 20px auto;
    border: 1px white solid;
    padding: 10px;
}

details {
    cursor: default;
    margin: 5px 0;
}

details p {
    padding: 0 15px;
}

#header h3 {
    margin: 0;
}

#nav {
    padding: 0;
    margin: 5px;
    list-style-type: none;
}

#nav li {
    display: inline;
}

#content {
    margin: 10px;
    padding: 10px;
    border: 1px white solid;
}

#content p {
    margin: 5px 0;
}

#content h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
}

#contentSites {
    margin: 10px;
    padding: 10px;
    border: 1px white solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#site {
    max-width: 128px;
    padding: 10px;
    border: 1px white solid;
    margin: 10px;
}

#site p {
    margin: 3px 0;
}

#site a {
    color: white;
    text-decoration: none;
}

#site a:hover {
    filter: brightness(70%);
}

#sitename {
    font-size: larger;
    font-style: italic;
}

#person {
    font-size: smaller;
}